# Jupyter Notebook for SQL Query Assignment

The following notebook is a continuation of the SQLTask_Tier_2.sql file. Here we will be using SQLlite package to query results from a local database that contains a membership table, a facilities table, and records table that ties the two together for a unknown sports club.

The first set of code is importing the necassary packages and setting up sqllite to query results

In [5]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


database = "SQLFiles_Tier_2\sqlite_db_pythonsqlite.db"
conn = create_connection(database)

2.6.0

## Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [6]:
query = """
SELECT subquery.name AS facility , SUM(cost) AS total_revenue
FROM (SELECT f.name AS name,
                CASE WHEN b.memid = 0 THEN b.slots * f.guestcost
                ELSE b.slots * f.membercost END AS cost
        FROM Bookings as b 
                LEFT JOIN Facilities AS f
		ON b.facid = f.facid) AS subquery
GROUP BY facility
HAVING SUM(cost) < 1000
ORDER BY total_revenue DESC;
"""

with conn: 
    select_all_tasks(conn, query)

('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

## Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [7]:
query = """
SELECT m.surname AS surname, m.firstname AS firstname, 
	CASE WHEN r.surname = 'GUEST' THEN 'NONE'
    ELSE r.surname END AS recommendedby_surname, 
    CASE WHEN r.firstname = 'GUEST' THEN 'NONE'
    ELSE r.firstname END AS recommendedby_firstname
FROM Members as m
	LEFT JOIN Members AS r
	ON m.recommendedby = r.memid
WHERE m.memid <> 0
ORDER BY surname, firstname;
"""

with conn: 
    select_all_tasks(conn, query)

('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

## Q12: Find the facilities with their usage by member, but not guests

In [27]:
query = """
SELECT subquery.name AS facility , SUM(member_used) AS total_used_member
FROM (SELECT f.name AS name,
                CASE WHEN b.memid = 0 THEN 0
                ELSE 1 END AS member_used
        FROM Bookings as b 
                LEFT JOIN Facilities AS f
		ON b.facid = f.facid) AS subquery
GROUP BY facility
ORDER BY total_used_member DESC;
"""

with conn: 
    select_all_tasks(conn, query)

('Pool Table', 783)
('Snooker Table', 421)
('Massage Room 1', 421)
('Table Tennis', 385)
('Badminton Court', 344)
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Squash Court', 195)
('Massage Room 2', 27)

## Q13: Find the facilities usage by month, but not guests

In [29]:
query = """
SELECT subquery.month AS month, subquery.name AS facility ,  SUM(member_used) AS total_used_member
FROM (SELECT f.name AS name, strftime('%m',starttime) AS month,
                CASE WHEN b.memid = 0 THEN 0
                ELSE 1 END AS member_used
      FROM Bookings as b 
                LEFT JOIN Facilities AS f
		ON b.facid = f.facid) AS subquery
GROUP BY month, facility
ORDER BY month DESC;
"""

with conn: 
    select_all_tasks(conn, query)

('09', 'Badminton Court', 161)
('09', 'Massage Room 1', 191)
('09', 'Massage Room 2', 14)
('09', 'Pool Table', 408)
('09', 'Snooker Table', 199)
('09', 'Squash Court', 87)
('09', 'Table Tennis', 194)
('09', 'Tennis Court 1', 132)
('09', 'Tennis Court 2', 126)
('08', 'Badminton Court', 132)
('08', 'Massage Room 1', 153)
('08', 'Massage Room 2', 9)
('08', 'Pool Table', 272)
('08', 'Snooker Table', 154)
('08', 'Squash Court', 85)
('08', 'Table Tennis', 143)
('08', 'Tennis Court 1', 111)
('08', 'Tennis Court 2', 109)
('07', 'Badminton Court', 51)
('07', 'Massage Room 1', 77)
('07', 'Massage Room 2', 4)
('07', 'Pool Table', 103)
('07', 'Snooker Table', 68)
('07', 'Squash Court', 23)
('07', 'Table Tennis', 48)
('07', 'Tennis Court 1', 65)
('07', 'Tennis Court 2', 41)